[Unit]
Description=Next Dashboard
After=network.target

[Service]
Environment=NODE_ENV=production
Type=simple
User=root
ExecStart=/usr/bin/node /root/next-dashboard/bin/www
Restart=on-failure

[Install]
WantedBy=multi-user.target
