# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# testing
/coverage

# production
/build
/dist
/out
/public/assets
/public/service-worker.js
/.next
/.tmp
**/__mocks__
**/__generated__

# misc
*.config.js
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
