@import "~react-calendar/dist/Calendar.less";

@type    : 'global';
@element : 'site';
@import (multiple) './semantic-ui/theme.config';

.react-calendar {
  font-family: @pageFont;
  background: none !important;
  border: none !important;
  margin: 0 auto;
  max-width: unset !important;

  &__navigation {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 2px !important;

    button {
      &:enabled {
        &:hover, &:focus {
          background: rgba(255, 255, 255, 0.1);
        }
      }

      &[disabled] {
        background: inherit;
      }
    }
  }

  &__month-view {
    &__weekdays {
      &__weekday {
        color: @_white50;
      }
    }

    &__weekNumbers {
      color: @_white50;
    }

    &__days {
      &__day {
        &--weekend {
          color: @lightRed;
        }

        &--neighboringMonth {
          color: @grey;
        }
      }
    }
  }

  &__tile {
    button&:disabled {
      color: @_white30;
    }

    button&:enabled {
      &:hover, &:focus {
        background-color: rgba(255, 255, 255, 0.1);
      }
    }

    &--hasActive {
      @bgcolor: @orange;
      background: @bgcolor;
      color: @white;

      button&:enabled {
        &:hover, &:focus {
          background: lighten(@bgcolor, 10%);
        }
      }
    }

    &--active {
      @bgcolor: @orange;
      background: @bgcolor;
      color: @white;

      button&:enabled {
        &:hover, &:focus {
          background: lighten(@bgcolor, 10%);
        }
      }
    }
  }
}

@media (max-width: @largestMobileScreen) {
  .react-calendar {
    width: 90vw !important;
  }
}
