// Dependencies
@import (inline) '~normalize.css/normalize.css';
@import (inline) '~react-virtualized/styles.css';

// Sane defaults
body {
  color: @_bodyColor !important;
  background: @_bodyBackground url("/static/img/bg.jpg?v=2") top left / 100vw 100vh no-repeat fixed !important;
}
input, button {
  color: inherit;
  background: inherit;
}

// Semantic UI
@import './semantic-ui/semantic.less';

// External components
& { @import "calendar"; }
& { @import "notification"; }
& { @import "virtualized"; }
& { @import "misc"; }

// The rest is styled-jsx
