.float-right.float-right.float-right {
  float: right !important;
}
.float-left.float-left.float-left {
  float: left !important;
}
.center.center.center {
  text-align: center !important;
}

.recharts-default-tooltip {
  background-color: @_pageBackground !important;
  border: none !important;
  border-radius: 3px !important;
}
