@import (inline) '~react-toastify/dist/ReactToastify.css';

@type    : 'global';
@element : 'site';
@import (multiple) './semantic-ui/theme.config';

.Toastify__toast {
  padding: 0 !important;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75), 0px 2px 10px 0px rgba(0, 0, 0, 0.45);
}

.Toastify__toast--default {
  background: unset !important;
  color: unset !important;
}

@media (min-width: @tabletBreakpoint) {
  .Toastify__toast-container {
    width: 450px;
  }
}
