pre {
  font-family: 'Roboto Mono' !important;

  &.sample {
    background: rgba(255, 255, 255, 0.1);
    padding: 0.5em;
  }
}

@media (--mobile-only) {
  pre.sample {
    white-space: normal !important;
  }
}
