@type    : 'collection';
@element : 'table';
@import (multiple) './semantic-ui/theme.config';

.ReactVirtualized__ListWrapper {
  margin: 0;
  display: flex;
  flex-direction: column;

  .ReactVirtualized__ListHeader:extend(
    .ui,
    .ui.table thead th,
    .ui.table th
  ) {
    padding-top: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    border: none;
    border-bottom: @headerBorder;

    .ReactVirtualized__ListHeader__item {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      border: none;
    }
  }

  .ReactVirtualized__ListContent {
    flex: 1 1 auto;

    .ReactVirtualized__Grid {
      outline: 0;
    }

    .ReactVirtualized__List__row:extend(
    .ui,
    .ui.table tr td,
    .ui.table td
  ) {
      padding-left: 0;
      padding-right: 0;
      border: none;
      border-top: @rowTransparentBorder;

      .ReactVirtualized__List__row__item {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        border: none;
      }

      &:hover:extend(
      .ui,
      .ui.selectable.table tbody tr:hover
    ) {
        background: @selectableBackground !important;
        color: @selectableTextColor !important;
      }
    }

    .ReactVirtualized__Grid__innerScrollContainer > div:not(:first-child) {
      .ReactVirtualized__List__row {
        border-top: @rowBorder;
      }
    }
  }
}

.ReactVirtualized__Table:extend(
  .ui,
  .ui.table
) {
  margin: 0;

  .icon {
    line-height: 1;
  }

  .ReactVirtualized__Table__headerRow:extend(
    .ui,
    .ui.table thead tr,
    .ui.table tr
  ) {
    padding-right: 0 !important;
    border: none;

    .ReactVirtualized__Table__headerColumn:extend(
      .ui,
      .ui.table thead th,
      .ui.table th,
      .ui.sortable.table thead th,
      .ui.sortable.table th
    ) {
      margin: 0;
      outline: 0;
      line-height: 1 !important;
      border: none;
      border-bottom: @headerBorder;

      .ReactVirtualized__Table__headerTruncatedText--sorted:not(:hover) {
        color: @sortableActiveColor
      }

      &:hover {
        &:extend(
          .ui,
          .ui.table thead th:hover,
          .ui.table th:hover,
          .ui.sortable.table thead th:hover,
          .ui.sortable.table th:hover
        );
      }
    }
  }

  .ReactVirtualized__Table__Grid {
    outline: 0;

    .ReactVirtualized__Table__row:extend(
      .ui,
      .ui.table tbody tr,
      .ui.table tr
    ) {
      padding-right: 0 !important;
      border: none;

      .ReactVirtualized__Table__rowColumn:extend(
        .ui,
        .ui.table tr td,
        .ui.table td
      ) {
        line-height: 1 !important;
        margin: 0;
        border: none;
        border-top: @rowTransparentBorder;
        box-sizing: border-box;
      }

      &:not(:first-child) .ReactVirtualized__Table__rowColumn {
        border-top: @rowBorder;
      }

      &:hover {
        &:extend(
          .ui,
          .ui.selectable.table tbody tr:hover
        );
      }
    }
  }
}

.ReactVirtualized__Table--striped {
  .ReactVirtualized__Table__rowColumn--even {
    &:extend(
      .ui,
      .ui.striped.table > tr:nth-child(2n),
      .ui.striped.table tbody tr:nth-child(2n)
    );
  }
}
